# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app

#CMAKE files :
*.cmake
*.make 

#make file
MakeFile

#executable :
*.bin

#test of compile :
test_forum*

#csv files
*.csv

#qgis file
*.qgs

#animation source file
frame*.PNG
frame*.PNGw